Chapter21

In [9]:
def oz():
    for i in range(5):
        print('oz코딩스쿨')

oz()

oz코딩스쿨
oz코딩스쿨
oz코딩스쿨
oz코딩스쿨
oz코딩스쿨

In [10]:
print('어떤가요 이것도 힘수였어요')

어떤가요 이것도 힘수였어요

In [11]:
print()

In [12]:
def oz(message, n):
    for i in range(n):
        print(message)

oz('오즈코딩스쿨', 5)

오즈코딩스쿨
오즈코딩스쿨
오즈코딩스쿨
오즈코딩스쿨
오즈코딩스쿨

Chapter22

In [13]:
#매개변수를 적게
def oz(message, n):
    for i in range(n):
        print(message)

oz('오즈코딩스쿨')

TypeError: oz() missing 1 required positional argument: 'n'

In [14]:
#매개변수를 많이
def oz(message, n):
    for i in range(n):
        print(message)

oz('오즈코딩스쿨', 5, 3)

TypeError: oz() takes 2 positional arguments but 3 were given

In [15]:
print('하나', 2, 3, '넷')

하나 2 3 넷

In [16]:
def oz(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

oz(5, "짱구", "철수", "맹구", "유리", "떡잎마을 방범대")

짱구
철수
맹구
유리
떡잎마을 방범대

짱구
철수
맹구
유리
떡잎마을 방범대

짱구
철수
맹구
유리
떡잎마을 방범대

짱구
철수
맹구
유리
떡잎마을 방범대

짱구
철수
맹구
유리
떡잎마을 방범대

In [22]:
def oz(*values, n):
    for i in range(n):
        for value in values:
            print(value)
        print()

oz("훈이", "타도", "이훈이", "퇴출", 4)

TypeError: oz() missing 1 required keyword-only argument: 'n'

Chapter23

In [18]:
def oz(value, n=2):
    for i in range(n):
        print(value)

oz("일반 매개변수 다음에 기본 매개변수를 배치해야 합니다.")

일반 매개변수 다음에 기본 매개변수를 배치해야 합니다.
일반 매개변수 다음에 기본 매개변수를 배치해야 합니다.

In [19]:
def oz(value, n=2):
    for i in range(n):
        print(value)

oz("일반 매개변수 다음에 기본 매개변수를 배치해야 합니다.", n=5)

일반 매개변수 다음에 기본 매개변수를 배치해야 합니다.
일반 매개변수 다음에 기본 매개변수를 배치해야 합니다.
일반 매개변수 다음에 기본 매개변수를 배치해야 합니다.
일반 매개변수 다음에 기본 매개변수를 배치해야 합니다.
일반 매개변수 다음에 기본 매개변수를 배치해야 합니다.

In [23]:
def oz(n=2, value):
    for i in range(n):
        print(value)

oz("일반 매개변수 다음에 기본 매개변수를 배치해야 합니다.")

SyntaxError: parameter without a default follows parameter with a default (ipython-input-51992979.py, line 1)

Chapter24

In [24]:
def oz(n=3, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

oz("기본 매개변수 다음에", "가변 매개변수를", "넣을 수 있을까요?")

TypeError: 'str' object cannot be interpreted as an integer

In [26]:
def oz(*values, n=3):
    for i in range(n):
        for value in values:
            print(value)
        print()

oz("기본 매개변수 다음에", "가변 매개변수를", "넣을 수 있을까요?", 10)

기본 매개변수 다음에
가변 매개변수를
넣을 수 있을까요?
10

기본 매개변수 다음에
가변 매개변수를
넣을 수 있을까요?
10

기본 매개변수 다음에
가변 매개변수를
넣을 수 있을까요?
10

In [25]:
listm = ["안", "녕", "하", "세", "요"]
for i in listm:
    print(i)

안
녕
하
세
요

In [27]:
listm = ["안", "녕", "하", "세", "요"]
for i in listm:
    print(i, end="")

안녕하세요

In [28]:
def oz(x, y=20, h=10):
    print(x * y * h)

oz(10)
oz(10, y=10)
oz(x=5, y=5, h=5)

2000
1000
125

Chapter25

In [29]:
def oz_return():
    print("고양이")
    print("귀여워")
    return
    print("야옹")

oz_return()

고양이
귀여워

In [30]:
def oz_return():
    return "고양이 귀여워"

result = oz_return()
print(result)

고양이 귀여워

In [31]:
def oz_return():
    return

result = oz_return()
print(result)

None

In [32]:
bool(None)

False

In [33]:
result = input("고양이?")
print(result)

고양이?야옹
야옹

Chapter26

In [34]:
def oz(start, end, multiple):
    for i in range(start, end, multiple):
        print(i, " ", end="")
    print()

oz(1, 10, 3)
oz(start=1, end=50, multiple=5)
oz(start=10, end=100, multiple=10)

1  4  7
1  6  11  16  21  26  31  36  41  46
10  20  30  40  50  60  70  80  90

In [35]:
def oz(start=1, end=10, multiple=1):
    for i in range(start, end, multiple):
        print(i, " ", end="")
    print()

oz(1, 10, 3)
oz(end=50)
oz(end=100, multiple=10)

1  4  7
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49
1  11  21  31  41  51  61  71  81  91

Chapter27

In [36]:
def oz_factorial(n):
    output = 1
    for i in range(1, n+1):
        output *= i
    return output

n = int(input("구하고자하는 팩토리얼의 수를 입력해주세요"))
print(f'{n}의 결과는 {oz_factorial(n)}입니다.')

구하고자하는 팩토리얼의 수를 입력해주세요3
3의 결과는 6입니다.

In [37]:
def oz_factorial(n):
    if n == 0:
        return 1
    else:
        return n * oz_factorial(n-1)

n = int(input("구하고자하는 팩토리얼의 수를 입력해주세요"))
print(f'{n}의 결과는 {oz_factorial(n)}입니다.')

구하고자하는 팩토리얼의 수를 입력해주세요4
4의 결과는 24입니다.

In [38]:
count = 0

def oz_fibo(n):
    print(f'피보나치 수열 {n}을 구하는 중입니다.')
    global count
    count += 1

    if n == 1:
        return 1
    if n == 2:
        return 1
    else:
        return oz_fibo(n-1) + oz_fibo(n-2)

n = int(input("구하고자하는 피보나치의 수열의 수를 입력해주세요"))
oz_fibo(n)
print(f'피보나치 수열 {n}을 구하기 위해 계산된 횟수는 {count}입니다')

구하고자하는 피보나치의 수열의 수를 입력해주세요4
피보나치 수열 4을 구하는 중입니다.
피보나치 수열 3을 구하는 중입니다.
피보나치 수열 2을 구하는 중입니다.
피보나치 수열 1을 구하는 중입니다.
피보나치 수열 2을 구하는 중입니다.
피보나치 수열 4을 구하기 위해 계산된 횟수는 5입니다

In [39]:
memo = {
    1: 1,
    2: 1,
}

count = 0

def oz_fibo(n):
    print(f'피보나치 수열 {n}을 구하는 중입니다.')
    global count
    count += 1

    if n in memo:
        return memo[n]
    else:
        output = oz_fibo(n-1) + oz_fibo(n-2)
        memo[n] = output
        return output

n = int(input("구하고자하는 피보나치의 수열의 수를 입력해주세요"))
oz_fibo(n)
print(f'피보나치 수열 {n}을 구하기 위해 계산된 횟수는 {count}입니다')

구하고자하는 피보나치의 수열의 수를 입력해주세요2
피보나치 수열 2을 구하는 중입니다.
피보나치 수열 2을 구하기 위해 계산된 횟수는 1입니다

Chapter28

In [41]:
memo = {
    1: 1,
    2: 1
}

count = 0

def oz_fibo(n):
    print(f"피보나치 수열 {n}을 구하는 중입니다.")
    global count
    count += 1

    if n in memo:
        return memo[n]
    else:
        output = oz_fibo(n-1) + oz_fibo(n-2)
        memo[n] = output
        return output

n = int(input("구하고자 하는 피보나치 수열의 수를 입력해주세요"))
oz_fibo(n)
print(f"피보나치 수열 {n}을 구하기 위해 계산된 횟수는 {count}입니다.")

구하고자 하는 피보나치 수열의 수를 입력해주세요3
피보나치 수열 3을 구하는 중입니다.
피보나치 수열 2을 구하는 중입니다.
피보나치 수열 1을 구하는 중입니다.
피보나치 수열 3을 구하기 위해 계산된 횟수는 3입니다.

In [42]:
memo = {
    1: 1,
    2: 1
}

count = 0

def oz_fibo(n):
    print(f"피보나치 수열 {n}을 구하는 중입니다.")
    global count
    count += 1

    if n in memo:
        return memo[n]

    output = oz_fibo(n-1) + oz_fibo(n-2)
    memo[n] = output
    return output

n = int(input("구하고자 하는 피보나치 수열의 수를 입력해주세요"))
oz_fibo(n)
print(f"피보나치 수열 {n}을 구하기 위해 계산된 횟수는 {count}입니다.")

구하고자 하는 피보나치 수열의 수를 입력해주세요4
피보나치 수열 4을 구하는 중입니다.
피보나치 수열 3을 구하는 중입니다.
피보나치 수열 2을 구하는 중입니다.
피보나치 수열 1을 구하는 중입니다.
피보나치 수열 2을 구하는 중입니다.
피보나치 수열 4을 구하기 위해 계산된 횟수는 5입니다.

Chapter29

In [43]:
oz_tuple = (1,2,3)

print(oz_tuple)
print(oz_tuple[0])
print(oz_tuple[1])
print(oz_tuple[2])

(1, 2, 3)
1
2
3

In [44]:
oz_tuple[2] = 5

TypeError: 'tuple' object does not support item assignment

In [45]:
oz_tuple = 1, 2, 3, 4

print("oz_tuple: ", oz_tuple)
print("oz_tuple type: ", type(oz_tuple))

oz_tuple:  (1, 2, 3, 4)
oz_tuple type:  <class 'tuple'>

In [46]:
x, y ,z = 1, 2, 3
print(x)
print(y)
print(z)

1
2
3

In [47]:
x, y = 1, 2

print("x: ", x)
print("y: ", y)
print()

x, y = y, x
print("x: ", x)
print("y: ", y)

x:  1
y:  2

x:  2
y:  1

In [48]:
def oz_tuple():
    return (1, 2)

x, y = oz_tuple()

print("x:", x)
print("y:", y)

x: 1
y: 2

In [49]:
for i, fruit in enumerate([1,2,3,4]):
    print(i, fruit)

0 1
1 2
2 3
3 4

In [50]:
a, b = 7, 3
x, y = divmod(a, b)
print("몫:", x)
print("나머지:", y)

몫: 2
나머지: 1

Chapter30

In [51]:
def oz_call(function):
    for i in range(5):
        function()

def talk():
    print("파이썬 비상탈출")

oz_call(talk)

파이썬 비상탈출
파이썬 비상탈출
파이썬 비상탈출
파이썬 비상탈출
파이썬 비상탈출

In [52]:
def square(i):
    return i * i

numbers_list = [1,2,3,4,5,6,7,8,9,10]

result = map(square, numbers_list)

print("map 결과:", result)
print("map 결과의 list 형변환:", list(result))

map 결과: <map object at 0x7be0a8e8fe50>
map 결과의 list 형변환: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
def under(i):
    return i < 5

numbers_list = [1,2,3,4,5,6,7,8,9,10]

result = filter(under, numbers_list)

print("map 결과:", result)
print("map 결과의 list 형변환:", list(result))

map 결과: <filter object at 0x7be0a8d4a380>
map 결과의 list 형변환: [1, 2, 3, 4]

In [54]:
square = lambda i : i * i

numbers_list = [1,2,3,4,5,6,7,8,9,10]

result = map(square, numbers_list)

print("map 결과:", result)
print("map 결과의 list 형변환:", list(result))

map 결과: <map object at 0x7be0a8e8c910>
map 결과의 list 형변환: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
under = lambda i : i < 5

numbers_list = [1,2,3,4,5,6,7,8,9,10]

result = filter(under, numbers_list)

print("map 결과:", result)
print("map 결과의 list 형변환:", list(result))

map 결과: <filter object at 0x7be0a8e8c160>
map 결과의 list 형변환: [1, 2, 3, 4]

In [56]:
numbers_list = [1,2,3,4,5,6,7,8,9,10]

result = map(lambda i : i * i, numbers_list)
print("map 결과 :", result)
print("map 결과의 list 형변환:", list(result))

map 결과 : <map object at 0x7be0a8e8ffa0>
map 결과의 list 형변환: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
numbers_list = [1,2,3,4,5,6,7,8,9,10]

result = filter(lambda i : i < 5, numbers_list)

print("map 결과:", result)
print("map 결과의 list 형변환:", list(result))

map 결과: <filter object at 0x7be0a8e8c160>
map 결과의 list 형변환: [1, 2, 3, 4]

Chapter31

In [58]:
def test():
    print("제너레이터 실습 코드입니다.")
    yield "test"

print("첫번째 출력")
test()

print("두번째 출력")
test()

print(test())

첫번째 출력
두번째 출력
<generator object test at 0x7be0a8e4df00>

In [61]:
def test():
    print("첫번째 출력")
    yield 1
    print("두번째 출력")
    yield 2
    print("세번째 출력")

output = test()
print("네번째 출력")

x = next(output)
print(x)
print("다섯번째 출력")
y = next(output)
print(y)
print("여섯번째 출력")
z = next(output)
print(z)

네번째 출력
첫번째 출력
1
다섯번째 출력
두번째 출력
2
여섯번째 출력
세번째 출력

StopIteration:

Chapter32

In [62]:
num = 10
print(type(num))

num = "10"
print(type(num))

<class 'int'>
<class 'str'>

In [64]:
def oz(x, y, h):
    return x * y * h

oz(10,10,10)

1000

In [65]:
def oz(x: int, y: int, h: int) -> int:
    return x * y * h

oz(10,10,10)

1000

In [66]:
my_dog : str = "hunt"
my_dog_age : int = 7

dogs: list[str] = ["딕스훈트", "시바견", "웰시코기", "이탈리안그레이하운드"]

dogs: dict[str, int] = {
    "닥스훈트" : 7,
    "시바견" : 5,
    "웰시코기" : 6,
    "이탈리안그레이하운드" : 3,
}

print(my_dog)

hunt

In [67]:
def hunt(name: str) -> str:
    return name[0]

def hunt_info(name: str, age: int = 7) -> str:
    return name + str(age)

def hunt_happy_time(name: str) -> None:
    print("간식줄께" + name)

def hunt_bow(message: str, times: int = 10) -> list[str]:
    return [message] * times