Chapter42

In [1]:
oz_students = [
    {"name": "백현우", "python": 4, "database": 3, "Django": 3, "AWS": 2},
    {"name": "홍혜인", "python": 4, "database": 5, "Django": 2, "AWS": 4},
    {"name": "윤은성", "python": 3, "database": 4, "Django": 4, "AWS": 1},
    {"name": "홍수철", "python": 2, "database": 3, "Django": 1, "AWS": 5},
]

print("이름", "총점", "평균", sep="\t")

for student in oz_students:
    ability_sum = student["python"] + student["database"] + student["Django"] +\
                student["AWS"]
    ability_average = ability_sum / 4

    print(student["name"], ability_sum, ability_average, sep="\t")

이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

In [2]:
def create_oz_student(name, python, database, django, AWS):
    return{
        "name": name,
        "python": python,
        "database": database,
        "django": django,
        "AWS": AWS
    }


oz_students = [
    create_oz_student("백현우",4 ,3 ,3 ,2),
    create_oz_student("홍혜인",4 ,5 ,2 ,4),
    create_oz_student("윤은성",3 ,4 ,4 ,1),
    create_oz_student("홍수철",2 ,3 ,1 ,5)
]

#총점은 프로그래밍 활용 능력의 총합, 평균은 프로그램 활용 능력의 총합의 평균
print("이름", "총점", "평균", sep="\t")

for student in oz_students:
    ability_sum = student["python"] + student["database"] + student["django"] +\
                student["AWS"]
    ability_average = ability_sum / 4

    print(student["name"], ability_sum, ability_average, sep="\t")

이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

In [3]:
def create_oz_student(name, python, database, django, AWS):
    return{
        "name": name,
        "python": python,
        "database": database,
        "django": django,
        "AWS": AWS
    }

def get_sum(student):
    return student["python"] + student["database"] + student["django"] +\
                student["AWS"]

def get_average(student):
    return get_sum(student) / 4

def to_string(student):
    return f'{student["name"]}\t{get_sum(student)}\t{get_average(student)}'

oz_students = [
    create_oz_student("백현우",4 ,3 ,3 ,2),
    create_oz_student("홍혜인",4 ,5 ,2 ,4),
    create_oz_student("윤은성",3 ,4 ,4 ,1),
    create_oz_student("홍수철",2 ,3 ,1 ,5)
]

print("이름", "총점", "평균", sep="\t")

for student in oz_students:
    print(to_string(student))

이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

Chapter43

In [5]:
import os

os.listdir()

['.config', 'sample_data']

In [6]:
class CreateOzStudentss:
    def __init__(self, name, python, database, django, AWS):
            self.name = name,
            self.python = python,
            self.database = database,
            self.django = django
            self.AWS = AWS

oz_studentss = [
    CreateOzStudentss("백현우",4 ,3 ,3 ,2),
    CreateOzStudentss("홍혜인",4 ,5 ,2 ,4),
    CreateOzStudentss("윤은성",3 ,4 ,4 ,1),
    CreateOzStudentss("홍수철",2 ,3 ,1 ,5)
]

print(oz_studentss[0].name)
print(oz_studentss[0].python)
print(oz_studentss[0].database)
print(oz_studentss[0].django)
print(oz_studentss[0].AWS)

('백현우',)
(4,)
(3,)
3
2

In [7]:
class CreateOzStudentt:
    def __init__(self, name, python, database, django, AWS):
        self.name = name
        self.python = python
        self.database = database
        self.django = django
        self.AWS = AWS

    def get_sum(self):
        return self.python + self.database + self.django + self.AWS

    def get_average(self):
        return self.get_sum() / 4

    def to_string(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'

oz_studentss = [
    CreateOzStudentt("백현우",4 ,3 ,3 ,2),
    CreateOzStudentt("홍혜인",4 ,5 ,2 ,4),
    CreateOzStudentt("윤은성",3 ,4 ,4 ,1),
    CreateOzStudentt("홍수철",2 ,3 ,1 ,5)
]

print("이름", "총점", "평균", sep="\t")

for student in oz_studentss:
    print(student.to_string())

이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

Chapter44

In [11]:
class Student:
    def __init__(self):
        pass
student = Student()

print("isinstance(student, Student):", isinstance(student, Student))

isinstance(student, Student): True

In [12]:
class Python:
    def study(self):
        print("파이썬을 수강중입니다.")

class Java:
    def teach(self):
        print("자바를 수강중입니다.")

programming_subjects = [Python(), Python(), Python(), Java(), Python()]

for subject in programming_subjects:
    if isinstance(subject, Python):
        subject.study()
    elif isinstance(subject, Java):
        subject.teach()

파이썬을 수강중입니다.
파이썬을 수강중입니다.
파이썬을 수강중입니다.
자바를 수강중입니다.
파이썬을 수강중입니다.

In [13]:
class CreateOzStudenttt:
    def __init__(self, name, python, database, django, AWS):
        self.name = name
        self.python = python
        self.database = database
        self.django = django
        self.AWS = AWS

    def get_sum(self):
        return self.python + self.database + self.django + self.AWS

    def get_average(self):
        return self.get_sum() / 4

    def __str__(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'

oz_studentsss = [
    CreateOzStudenttt("백현우",4 ,3 ,3 ,2),
    CreateOzStudenttt("홍혜인",4 ,5 ,2 ,4),
    CreateOzStudenttt("윤은성",3 ,4 ,4 ,1),
    CreateOzStudenttt("홍수철",2 ,3 ,1 ,5)
]

print("이름", "총점", "평균", sep="\t")

for student in oz_studentsss:
    print(str(student))

이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

Chapter45

In [14]:
class CreateOzStudents:

    count = 0

    def __init__(self, name, python, database, django, AWS):
        self.name = name
        self.python = python
        self.database = database
        self.django = django
        self.AWS = AWS

        CreateOzStudents.count += 1
        print(f'{CreateOzStudents.count}번째 수강생의 정보가 추가되었습니다.')


oz_studentst = [
    CreateOzStudents("백현우",4 ,3 ,3 ,2),
    CreateOzStudents("홍혜인",4 ,5 ,2 ,4),
    CreateOzStudents("윤은성",3 ,4 ,4 ,1),
    CreateOzStudents("홍수철",2 ,3 ,1 ,5)
]

print()
print(f'현재 데이터가 입력된 총 수강생은 {CreateOzStudents.count}입니다.')

1번째 수강생의 정보가 추가되었습니다.
2번째 수강생의 정보가 추가되었습니다.
3번째 수강생의 정보가 추가되었습니다.
4번째 수강생의 정보가 추가되었습니다.

현재 데이터가 입력된 총 수강생은 4입니다.

In [16]:
class CreateOzStudents:
    students = []

    @classmethod
    def print(cls):
        print("수강생 데이터베이스 정보")
        print("이름\t총점\t평균")
        for student in cls.students:
            print(str(student))

    def __init__(self, name, python, database, django, AWS):
        self.name = name
        self.python = python
        self.database = database
        self.django = django
        self.AWS = AWS
        CreateOzStudents.students.append(self)

    def get_sum(self):
        return self.python + self.database + self.django + self.AWS

    def get_average(self):
        return self.get_sum() / 4

    def __str__(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'

CreateOzStudents("백현우",4 ,3 ,3 ,2)
CreateOzStudents("홍혜인",4 ,5 ,2 ,4)
CreateOzStudents("윤은성",3 ,4 ,4 ,1)
CreateOzStudents("홍수철",2 ,3 ,1 ,5)

CreateOzStudents.print()

수강생 데이터베이스 정보
이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

Chapter46

In [19]:
import math

class oz_Circle:
    def __init__(self, radius):
        self.__radius = radius
    def get_circumference(self):
        return 2 * math.pi * self.__radius
    def get_area(self):
        return math.pi * (self.__radius ** 2)

circle = oz_Circle(10)
circle.radius = -2
print("원의 둘레:", circle.get_circumference())
print("원의 넓이:", circle.get_area())

원의 둘레: 62.83185307179586
원의 넓이: 314.1592653589793

Chapter47

In [20]:
class Parent:
    def __init__(self):
        self.value = "테스트"
        print("Parent 클래스의 __init()__ 메소드가 호출되었습니다.")
    def test(self):
        print("Parent 클래스의 test() 메소드입니다.")

class Child(Parent):
    def __init__(self):
        super().__init__()
        print("Child 클래스의 __init()__ 메소드가 호출되었습니다.")

child = Child()
child.test()
print(child.value)

Parent 클래스의 __init()__ 메소드가 호출되었습니다.
Child 클래스의 __init()__ 메소드가 호출되었습니다.
Parent 클래스의 test() 메소드입니다.
테스트