Chapter17

In [51]:
def 양파():
    print("양파를 2개를 수확했습니다.")
def 대파():
    print("대파를 수확했습니다.")

# 함수 호출하기
양파()
대파()

양파를 2개를 수확했습니다.
대파를 수확했습니다.

In [52]:
def 수확():
    print('올해 비가 많이 왔습니다.')

print('농작물 수확량이 현저히 줄었습니다.')

수확()

농작물 수확량이 현저히 줄었습니다.
올해 비가 많이 왔습니다.

In [53]:
def function(x, y):
    z = x + y
    return z
    print("진짠가요?")

# A등급 10마리, B등급 9마리
print('옥수수와 수박의 수확량  :', function(10, 2))

옥수수와 수박의 수확량  : 12

In [54]:
def 수확():
    print("고라니 2마리를 박았습니다.")
수확()

고라니 2마리를 박았습니다.

In [55]:
def function(x, y):
    z = x + y
    print(z)

# A등급 10마리, B등급 9마리
print('옥수수와 수박의 수확량  :', function(10, 2))

12
옥수수와 수박의 수확량  : None

In [56]:
def 계산(가격, 개수):
    return 가격 * 개수
print(계산(1000, 5), '원입니다.')

5000 원입니다.

In [57]:
def 계산(a, b, c):
    합계 = a*1000 + b*500 + c*100
    return 합계

print(계산(5, 2, 3), '원입니다.')

6300 원입니다.

In [58]:
a = 100
def f():
    global a
    a = a + 1
    return a
f()

101

In [59]:
won = {'A등급':1000, 'B등급':500, 'C등급':100}

def 계산(a, b, c):
    합계 = won['A등급']* a + won['B등급'] *b + won['C등급']*c
    return 합계

print(계산(5, 2, 3), '원입니다.')

6300 원입니다.

In [60]:
PI = 3.14
def circle(r,inputpi):
    z = r*r*inputpi
    return z

result = circle(10, PI)
print(result)

314.0

In [61]:
A = 4
B = 3
C = 4
유물 = 1

def 감자():
    global A
    A += 1

def 양파():
    global A, B, C
    A += 3
    B += 3
    C += 4

def 옥수수():
    global 유물
    유물 += 1

감자()
양파()
옥수수()

합계 = A + B + C + 유물
print('오늘 수확한 수확물 :', 합계)

오늘 수확한 수확물 : 24

In [62]:
def print_text():
    text = "콩콩팥팥 수확의 기쁨"
    def txt():
        print(text)
    txt()
print_text()

콩콩팥팥 수확의 기쁨

In [63]:
def 수확철():
    야채 = {'A등급':0, 'B등급':0, 'C등급':0}

    def 양파():
        야채['A등급'] += 1

    def 대파():
        야채['A등급'] += 3
        야채['B등급'] += 3
        야채['C등급'] += 4

    def 쪽파():
        야채['금'] = 1

    양파()
    대파()
    쪽파()

    return 야채

수확철()
sum(수확철().values())

12

Chapter18

In [107]:
class Person:
    def hello(self):
        print('고양이 야옹')

호출 = Person()
호출.hello()

고양이 야옹

In [109]:
a = int(10)
print(a)

#b = list(range(10))
print(b)

10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
class Person:
    def __init__(self):  # __
        self.hello = "안녕하세요"

    def greeting(self):
        print(self.hello)

호출 = Person()
호출.greeting()

안녕하세요

In [70]:
# 매직메서드
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']

In [71]:
class 클래스이름:
    def __init__(self, 매개변수1, 매개변수2):
        self.속성1 = 매개변수1
        self.속성2 = 매개변수2

In [72]:
class Person:
    def __init__(self, name, age, address):
        self.hello = '안녕하세요.'
        self.name = name
        self.age = age
        self.address = address

    def greeting(self):
        print('{0} 저는 {1}입니다.'.format(self.hello, self.name))

maria = Person('마리아', 20, '서울시 서초구 반포동')
maria.greeting()    # 안녕하세요. 저는 마리아입니다.

print('이름:', maria.name)       # 마리아
print('나이:', maria.age)        # 20
print('주소:', maria.address)    # 서울시 서초구 반포동

안녕하세요. 저는 마리아입니다.
이름: 마리아
나이: 20
주소: 서울시 서초구 반포동

In [73]:
class Car(object):
    maxspeed = 300
    maxpeople = 5
    def move(self, x):
        print("스피드로 달리고 있습니다.")
    def stop(self):
        print("멈췄습니다.")

class HybridCar(Car):
    battery = 1000
    batteryKM = 300


k5 = HybridCar()
k5.maxspeed

print(dir(k5))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'battery', 'batteryKM', 'maxpeople', 'maxspeed', 'move', 'stop']

In [74]:
class Car(object):
    maxspeed = 300
    maxpeople = 5
    def move(self, x):
        print("스피드로 달리고 있습니다.")
    def stop(self):
        print("멈췄습니다.")

class HybridCar(Car):
    battery = 1000
    batteryKM = 300

class ElectricCar( HybridCar):
    battery = 1000
    batteryKM = 300

k5 = HybridCar()
# k5.maxspeed

electricCark5 = ElectricCar()
electricCark5.maxspeed

300

In [75]:
class Car(object):
    maxspeed = 300
    maxpeople = 5
    # def move(self, x):
    #     print("스피드로 달리고 있습니다.")
    def stop(self):
        print("멈췄습니다.")

class HybridCar(Car):
    battery = 1000
    batteryKM = 300

class ElectricCar( HybridCar):
    battery = 1000
    batteryKM = 300
    def move(self, x):
        print(self.batteryKM, '만큼 달릴 수 있습니다.')
        print(x, '스피드로 달리고 있습니다.')

k5 = HybridCar()
k5.maxspeed

electricCark5 = ElectricCar()
electricCark5.maxspeed
electricCark5.battery
electricCark5.move(10)

300 만큼 달릴 수 있습니다.
10 스피드로 달리고 있습니다.

Chapter19

In [76]:
pwd

'/content/drive/MyDrive/Colab Notebooks'

In [77]:
cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [78]:
f = open('test.txt','w')
f.write('수강생 여러분')
f.close()

In [79]:
f = open('test.txt','w')
f.write('개발자 여러분')
f.close()

In [80]:
f = open('test.txt','w')
f.write('''개발자 여러분
개발자 여러분
개발자 여러분
개발자 여러분
개발자 여러분
개발자 여러분
''')
f.close()

In [81]:
f = open('test.txt','w')
메시지 = ''

for i in range(10):
    메시지 += "개발자 여러분\n"
f.write(메시지)
f.close()

In [82]:
f = open('test.txt', 'r')
s = f.read()
print(s)
f.close()

개발자 여러분
개발자 여러분
개발자 여러분
개발자 여러분
개발자 여러분
개발자 여러분
개발자 여러분
개발자 여러분
개발자 여러분
개발자 여러분

In [83]:
f = open('test.txt', 'r')
line = f.readline()
print(line)
print(type(line))
f.close()

개발자 여러분

<class 'str'>

In [84]:
f = open('test.txt', 'r')
while line:
    line = f.readline()
    print(line)
f.close()

개발자 여러분

개발자 여러분

개발자 여러분

개발자 여러분

개발자 여러분

개발자 여러분

개발자 여러분

개발자 여러분

개발자 여러분

개발자 여러분

In [85]:
f = open('test.txt', 'a')
f.write("힘내자")
f.close()

In [86]:
with open('test.txt', 'a') as f:
    f.write('힘내자 !!!!')

In [87]:
list = [10, 20, 30]

with open('test.txt', 'w') as f:
    f.write(str(list))

In [88]:
list = [10, 20, 30]
with open('test.txt', 'w') as f:
    f.write('let test =' + str(list))

In [89]:
list = ['10', '20', '30']
with open('test.txt', 'w') as f:
    f.writelines(list)

In [90]:
#csv
list = ['10', '20', '30']

with open('test3.csv', 'w') as f:
    f.write(','.join(list))

Chapter20

In [95]:
try:
    x =int(input('나눌 숫자를 입력하세요'))
    y = 10 /x
    print(y)
except:
    print("예외가 발생했습니다.")

나눌 숫자를 입력하세요5
2.0

In [102]:
y = [10, 20, 30]
try:
    index, x = map(int, input('나눌 숫자를 입력하세요: ').split(','))
    print(y[index]/x)
except ZeroDivisionError:
    print('숫자를 0으로 나눌 수 없습니다.')
except IndexError:
    print("잘못된 인덱스입니다.")

나눌 숫자를 입력하세요: 4, 2
잘못된 인덱스입니다.

In [103]:
try:
    x =int(input('나눌 숫자를 입력하세요'))
    y = 10 /x
    print(y)
except:
    print("예외가 발생했습니다.")
else:
    print("성공하셨습니다")

나눌 숫자를 입력하세요5
2.0
성공하셨습니다

In [104]:
try:
    x =int(input('나눌 숫자를 입력하세요'))
    y = 10 /x
    print(y)
except:
    print("예외가 발생했습니다.")
else:
    print("성공하셨습니다")
finally:
    print("코드 실행이 종료되었습니다.")

나눌 숫자를 입력하세요5
2.0
성공하셨습니다
코드 실행이 종료되었습니다.

In [105]:
try:
    x =int(input('나눌 숫자를 입력하세요'))
    y = 10 /x
    raise
    print(y)
except:
    print("예외가 발생했습니다.")
else:
    print("성공하셨습니다")
finally:
    print("코드 실행이 종료되었습니다.")

나눌 숫자를 입력하세요6
예외가 발생했습니다.
코드 실행이 종료되었습니다.