#Chapter05

In [1]:
num = 1
#print(num)


num_1, num_2 = 1, 2
print(num_1)
print(num_2)

print(num_1, num_2)

1
2
1 2

In [2]:
1 + 2
1 + 2 + 3
1 + 2 + 3 + 4
1 + 2 + 3 + 4 + 5

15

In [3]:
sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

15

In [4]:
sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5

print(sum)

sum2 = 1 + 2
sum2 += 3
sum2 += 4
sum2 += 5

print(sum2)

15
15

In [6]:
# 선언x 변수 사용 : 오류

sum3 =+ 1
sum3 = 0

sum3

0

In [8]:
# 변수에 값 넣지 않고 선언

nothing = None
print(None)

None

In [9]:
#대소문자를 구분
BIG = "크다"
big = "작다"

print(BIG, big)

크다 작다

In [10]:
box__shose = "스니커즈"
box__hat = "슈프림 모자"

print(box__shose)
print(box__hat)

스니커즈
슈프림 모자

In [12]:
me = "가영"
print(f'{me}은 고양이  있어')

가영은 고양이  있어

In [14]:
fi__p , fi__s , fi__j = "붕어빵(팥)", "붕어빵(슈크림)", "붕어빵(잡채)"
fi__p__s , fi__s__s , fi__j__s = 2000, 2500, 3000
ord_s, ord_j = 2, 3

ord_s__p, ord_j__p = fi__s__s * 2, fi__j__s *3

# 총 개수
tot = ord_s + ord_j

# 구매 총 금액
tot_p = ord_s__p + ord_j__p

#출력
print(f'주문이 완료되었습니다. {fi__s} {ord_s}개, {fi__j}개 {ord_j} 총 {tot}개 결제 금액은 {tot_p}원 입니다.')

주문이 완료되었습니다. 붕어빵(슈크림) 2개, 붕어빵(잡채)개 3 총 5개 결제 금액은 14000원 입니다.

#Chapter06

In [29]:
1.1 + 2
4 / 2

2.0

In [30]:
9.0 + 2

11.0

In [32]:
box_num = "하나"
box_num +- 1
print(box_num)

TypeError: can only concatenate str (not "int") to str

In [33]:
type(box_num)

str

In [34]:
type(1)
type(1.2)

float

In [35]:
4 / 2

2.0

In [36]:
print(float(5))
print(int(5.0))

5.0
5

In [37]:
나이 = 10
type(나이)

print(dir(나이))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']

In [38]:
print(나이.bit_length())
print(bin(나이))

4
0b1010

#Chapter07

In [15]:
이름 = "김오즈"
나이 = 30
키 = 180.3
소속 = "s매직 서울북부"

In [16]:
print(type(이름))
print(type(나이))
print(type(키))
print(type(소속))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [17]:
print(float(5))
print(int(5.0))
print("5", "5.0")
print(type("5"), type("5.0"))

5.0
5
5 5.0
<class 'str'> <class 'str'>

In [18]:
print(소속)
print(소속[0])
print(소속[1])
print(소속[2])
print(소속[3])
print(소속[4])
print(소속[5])
print(소속[6])
print(소속[7])

s매직 서울북부
s
매
직

서
울
북
부

In [19]:
"매" in 소속
"3" in 소속

False

In [20]:
"13" + "금요일"

'13금요일'

In [21]:
옛날게임 = "바니바니 당근당근" * 20
print(옛날게임)

len(옛날게임)

바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근바니바니 당근당근

180

In [22]:
퀴즈 = "차 4대가 고장나면? 카포에라"
print(퀴즈[12:16])
print(퀴즈[12:15])

카포에라
카포에

In [23]:
# 퀴즈[15]
퀴즈[-1]

'라'

In [24]:
생년월일 = "2000.12.25"
년 = 생년월일[0:4]
월 = 생년월일[5:7]
일 = 생년월일[8:11]

print(f'{년}, {월}, {일}')

2000, 12, 25

In [25]:
숫자 = "123838483848939"
print(숫자[::])
print(숫자[::-1])

print(숫자[::2])

print(숫자[4:1:-1])
print(숫자[4:])

123838483848939
939848384838321
13343499
383
38483848939

In [26]:
퀴즈 = "스님이 공중에 뜬다를 4글자로 말하면? 어중이떠중이"
print(퀴즈[22:28])

어중이떠중이

In [27]:
과일 = "apple"
과일.count("p")

2

In [28]:
과일[2]
과일.index("p")

1

#Chapter08

In [39]:
3 > 1
3 == 1
3 == 3

20 != 5
20 != 20

False

In [40]:
"python" == "Python"
"Python" == "Python"
"python" != "Python"

True

In [41]:
5 >= 5
5 < 4

False

In [42]:
3 is 3
3 == 3

3.0 is 3
3.0 == 3

print(id(3.0))
print(id(3))

134453596161808
11642152

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'float' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'float' literal. Did you mean "=="?
/tmp/ipython-input-1857604381.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  3 is 3
/tmp/ipython-input-1857604381.py:4: SyntaxWarning: "is" with 'float' literal. Did you mean "=="?
  3.0 is 3

In [43]:
# True : 1 / False : 0
True and True # 1 * 1 = 1
True and False # 1 * 0 = 0
False and True # 0 * 1 = 0
False and False # 0 * 0 = 0

False

In [44]:
# True : 1 / False : 0
True or True # 1 + 1 = 1
True or False # 1 + 0 = 1
False or True # 0 + 1 = 1
False or False # 0 + 0 = 0

False

In [45]:
not True

not False

True

In [46]:
10 == 12 or 6 != 2
2 > 5 and 7 == 7
not 14 <= 15
not 7 is 7.0

<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/tmp/ipython-input-2018819415.py:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  not 7 is 7.0

True

In [47]:
bool("힘들어요")

True

In [48]:
print(False and True)
print(False and "힘들어요")

print(True and False)

print(True and '힘들어요')

False
False
False
힘들어요