안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [1]:
def greet_user(name, age):
    print(f"안녕하세요, {name}님! 당신은 {age}살입니다.")

greet_user("류 설", 9)

안녕하세요, 류 설님! 당신은 9살입니다.

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [4]:
def sum_numbers(*args):
    return sum(args)

print(sum_numbers(1, 2, 3, 4, 5))
print(sum_numbers(10, 43))

15
53

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [13]:
def print_name(name="익명"):
    print(name)

print_name()

익명

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [15]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_info(name="류 설", age=9, gender="중성")

name: 류 설
age: 9
gender: 중성

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [16]:
def add(a: int, b: int) -> int:
    return a + b

res = add(12, 3)
print(res)

15

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [17]:
def odd_numbers(n):
    for i in range(n + 1):
        if i % 2 != 0:
            yield i

for number in odd_numbers(15):
    print(number)

1
3
5
7
9
11
13
15

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [18]:
add_lambda = lambda x, y: x + y

res2 = add_lambda(5, 7)
print(res2)

12

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [22]:
def min_max():
    numbers = []
    for _ in range(3):
        while True:
            try:
                num = float(input("숫자를 입력하세요: "))
                numbers.append(num)
                break
            except ValueError:
                print("유효한 숫자를 입력해주세요.")

    numbers_tuple = tuple(numbers)
    min_val = min(numbers_tuple)
    max_val = max(numbers_tuple)

    print(f"입력된 숫자들: {numbers_tuple}")
    print(f"최소값: {min_val}")
    print(f"최대값: {max_val}")

# 함수 호출
min_max()

숫자를 입력하세요: 14
숫자를 입력하세요: 18
숫자를 입력하세요: 95
입력된 숫자들: (14.0, 18.0, 95.0)
최소값: 14.0
최대값: 95.0

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [20]:
def is_even(number):
    if number % 2 == 0:
        return True
    return False

print(is_even(4))
print(is_even(9))

True
False

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [25]:
def fac(n):
    if n == 0:
        return 1
    else:
        return n * fac(n-1)

print(fac(7))
print(fac(0))

5040
1

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [30]:
def print_lengths(string_list):
    for s in string_list:
        print(len(s))

catList = ["터시키앙고라", "러시안블루", "샴", "노르웨이 숲"]
print_lengths(catList)

6
5
1
6

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [31]:
def longer_string(str1, str2):
    if len(str1) >= len(str2):
        return str1
    else:
        return str2

print(longer_string("류 설", "류뭉치"))
print(longer_string("양념", "후라이드"))

류 설
후라이드